<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IConvertTemperature" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52204/ConvertTemperature.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConvertTemperature"
                contract="ConverTemperarture.IConvertTemperature" name="BasicHttpBinding_IConvertTemperature" />
        </client>
    </system.serviceModel>
</configuration>